.home {
  .news {
    margin: 52px 0;

    &__main {
      .slider {
        max-width: 862px;
      }
      &--btn {
        position: absolute;
        top: 50%;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 48px;
        height: 48px;

        border-radius: 50px;
        background-color: #fff1d6;
      }
      &--prev {
        left: -28px;
      }

      &--next {
        right: -28px;
      }
      .desc {
        position: absolute;
        bottom: 18%;
        left: 52px;

        color: white;

        &__title {
          max-width: 488px;
          font-weight: 700;
          font-size: 50px;
          line-height: 120%;
        }
        &__btn {
          font-weight: 600;
          font-size: 22px;
          line-height: 30px;

          padding: 12px 28px;
          margin-top: 24px;

          color: white;

          border: 2px solid white;
          border-radius: 32px;
        }
      }
    }
  }
}
