.home {
  &__title {
    display: flex;
    align-items: center;
    gap: 28px;

    margin-bottom: 36px;

    font-weight: 700;
    font-size: 32px;
    line-height: 44px;

    &--btn {
      font-weight: 500;

      background: #fff8eb;
      border: 1px solid #ffe7b9;
      border-radius: 16px;

      color: rgba(218, 144, 0, 1);

      padding: 12px 16px;
    }
  }
  .discount {
    position: relative;
    margin-bottom: 100px;

    &__product {
      position: relative;
      border: 1px solid #dadada;
      border-radius: 20px;

      &--img {
        span {
          display: flex;
          gap: 4px;

          position: absolute;
          top: 0;
          left: 0;

          font-size: 24px;
          line-height: 33px;

          padding: 4px 16px;

          color: #ffffff;
          background-color: red;
          border-radius: 20px 0;
        }
        .like {
          position: absolute;
          top: 16px;
          right: 20px;
        }
      }
      &--stock {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: 14px;
        line-height: 19px;

        color: #434343;

        padding: 0 20px;
      }
      &--desc {
        font-weight: 600;
        font-size: 20px;
        line-height: 27px;

        padding: 8px 20px;
      }
      &--price {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px 20px 20px;
        .discount-price {
          font-weight: 600;
          font-size: 24px;
          line-height: 33px;

          color: #cf0000;
        }
        .price {
          color: rgba(67, 67, 67, 1);
          text-decoration: line-through;
        }
        button {
          font-weight: 600;
          border: 1px solid #ff0000;
          border-radius: 60px;
          color: red;

          padding: 12px 16px;
        }
      }
    }
  }
}
